notebook==6.4.0
numpy==1.21.1
oauthlib==3.1.0
openpyxl==3.0.7
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
parse==1.19.0
parso==0.7.1
pathlib==1.0.1
pdfminer==20191125
pdfminer.six==20201018
pdftopng==0.2.3
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.0.1
plotly==5.2.1
pluggy==0.13.1
streamlit==0.87.0
xlrd==2.0.1
